<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>DV simulator</title>

        <script
                type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    </head>


<body>
<!--two dark grey sections against a black background-->

<!--First section: header and explanation-->
    <div class="div1">
        <h1>Distance Vector Algorithm Simulator</h1>
        <br>
        The Distance Vector algorithm is used to calculate the least-cost path between nodes within a weighted graph.

        Unlike <a href="https://en.wikipedia.org/wiki/Dijkstra%27s_algorithm">Dijkstra's algorithm</a>  which assumes that each node has a complete topology of the graph, this routing algorithm operates with a more limited view: nodes are only aware of link costs to adjacent neighbours and utilises iterative processes to learn and exchange information about the rest of the graph to recursively improve their understanding of the least-cost paths.
        <br><br>
        Of course, this decentralised approach means that convergence - the state where no further updates occur across any nodes - is much slower than algorithms that assume complete topology awareness.

        <br><br><br>
        <div class="inner-div">
        Given a weighted graph with \(n\) nodes, the algorithm is as follows:
        <ul>
            <li>
                Initially, each node \(x\) will only know their own \(n\)-dimensional distance vector, which is defined as follows:
                $$D_x(y)=
                    \begin{cases}
                    0 & \text{if } x=y \\
                    c(x,y) & \text{link cost if } (x,y) \text{ is an immediate neighbour} \\
                    \infty & \text{otherwise}
                    \end{cases}$$
            </li>

            <li>
                Periodically, each node shares its distance vector with its immediate neighbours.
            </li>
            <li>
                Apply the Bellman-Ford equation. Each destination \(x\) updates its own distance vector as:
                $$D_x (y) = \min_{v\in N(x)} \{c(x,v) + D_v (y) \}$$ where \(N(x)\) is the set of immediate neighbours of \(x\)
            </li>
            <li>
                Updates trigger DV to be shared to immediate neighbours. Repeat until convergence.
            </li>
        </ul>
        </div>
        <br><br>
        When a node discovers a better route - a shorter path - to a destination, this algorithm immediately updates its own distance vector and notifies its neighbours. However, it is important to note that link failures or increases in link costs propagate more slowly through the network, as the algorithm inherently does not reflect these changes immediately. In other words: 'good news travels fast, bad news travels slow'.
        <br><br>
        A consequence of the asynchronous nature of this algorithm is that link failures can also lead to a phenomenon called the
        <a href="https://www.geeksforgeeks.org/route-poisoning-and-count-to-infinity-problem-in-routing/">count to infinity problem</a>: nodes may increment their cost to a destination indefinitely, unable to recognise that the destination is unreachable and this can cause large-scale instability across the network.




        <br> <br>
<!--        To do:-->
<!--        - done: if 'directed' button clicked, double-sided arrow ↔ becomes right arrow →-->
<!--        - done: add 'clear input' and 'remove link' button - use JavaScript to clear-->
<!--        - done: turn div3 into sideways scrollable element-->
<!--        - done: remove trailing zeros in table-->
<!--        - done: css tables: space out and colour-->
<!--        - done: 'directed' functionality needs to be fixed-->
<!--        - done: put directed checkbox inside a button. make checkbox and arrows respond to button click-->
<!--        - done: add DV explanation: use MathJax-->
<!--        - make form elements stay upon submission-->
<!--        - done: add instructions-->
<!--        - done: test edge cases or impossible cases (same link two different costs)-->
<!--        - done: figure out why yellow lines
            - done: new arrows must match old ones-->


<!--        Optional:-->
<!--        <br>-->
<!--        - done: add node names along left of div3-->
<!--        <br>-->
<!--        - hover element with calculation (use latex?)-->
<!--        <br>-->
<!--        - allow user to choose from templates-->
    </div>
    <br>

<!--Second section with interactive part-->
    <div class="div2">
        This simulator performs the distance vector algorithm on directed or undirected graphs.
        It assumes that all distance vectors are sent to immediate neighbours at the same time, and thus updates are performed simultaneously.
        <br><br>
        For an undirected graph, only one entry per link is necessary.
        <br><br>
        For a directed graph, an entry per 'direction' is required. Hence, if it is possible to traverse a link in both directions, two entries are required.
        <br><br>

        <form action="">
            <button type='button' onclick='addLink()'>Add another link</button>
            <button type='button' onclick='RemoveLink()'>Remove last link</button>
            <button type='button' onclick='clearFields()'>Clear all fields</button>
        </form>

        <form id='calculate' method="post" action="{{ url_for('tables') }}"  onsubmit="return validateInput()">

<!--            class is for css styling, name is for accessing in dv.py, id is for accessing onclick-->
<!--            type=button is necessary otherwise clicking will take user to tables endpoint automatically-->
            <button type="button" onclick="document.getElementById('directed').click()">
                Directed graph:
                <input type="checkbox" class="directed" name="directed" id="directed" onclick="ChangeArrow()">
            </button>
            <br>
            <br>
            <div id='section'>

                <div class="LinkGroup">
                    <input type="text" name="dynamic_input"  class='node' placeholder="Node" value="x">
                    <span class="arrow">↔</span>
                    <input type="text" name="dynamic_input"  class='node' placeholder="Node" value="y">
                    <input type="text" name="dynamic_input"  class='cost' placeholder="Cost" value="1">
                    <br>
                </div>

                <div class="LinkGroup">
                    <input type="text" name="dynamic_input"  class='node' placeholder="Node" value="y">
                    <span class="arrow">↔</span>
                    <input type="text" name="dynamic_input"  class='node' placeholder="Node" value="z">
                    <input type="text" name="dynamic_input"  class='cost' placeholder="Cost" value="2">
                    <br>
                </div>

                <div class="LinkGroup">
                    <input type="text" name="dynamic_input" class='node' placeholder="Node" value="z">
                    <span class="arrow">↔</span>
                    <input type="text" name="dynamic_input" class='node' placeholder="Node" value="x">
                    <input type="text" name="dynamic_input" class='cost' placeholder="Cost" value="7">
                    <br>
                </div>
            </div>

            <br>
            <button type="submit">Calculate distance vectors</button>
        </form>
    </div>
<br>

{% block content %}{% endblock %}




    <script>

        // upon checking/unchecking 'Directed graph' box, toggle all arrows
        function ChangeArrow() {
            let arrowList=document.getElementsByClassName('arrow')                 // list (HTML collection) of all arrows
            let newArrow = (arrowList[0].textContent === '↔') ? '→' : '↔';        //ternary operator: if (the first) arrow is double-sided, switch to rightrrow and vice versa
            for (let a of arrowList) {                                            // use 'of' instead of 'in' since arrowList is not a list but an HTML collection
                a.textContent=newArrow                                            //assign the new arrow to each arrow using for loop
            }
        }

        //upon clicking the button 'Add another link', add (node,arrow,node,cost)
        //assign all new Inputs to class 'node' or 'cost' for CSS
        //assign all new Inputs to name 'dynamic_input' to add to list for dv.py
        //and append all to 'section' - ie underneath the original links
        //arrow must correspond to directed/undirected
        class NewLinkGroup {
            constructor(isChecked) {
                this.element = document.createElement('div')
                this.element.className = 'LinkGroup'

                this.newInput1 = document.createElement('input')
                this.newInput1.className = 'node'
                this.newInput1.name = 'dynamic_input'
                this.newInput1.placeholder = 'Node'
                this.element.appendChild(this.newInput1)

                this.arrow = document.createElement('span')
                this.arrow.className = 'arrow'
                if (isChecked) {
                    this.arrow.textContent = '→'
                }
                else {
                    this.arrow.textContent = '↔'
                }
                this.element.appendChild(this.arrow)

                this.newInput2 = document.createElement('input')
                this.newInput2.className = 'node'
                this.newInput2.name = 'dynamic_input'
                this.newInput2.placeholder = 'Node'
                this.element.appendChild(this.newInput2)

                this.newInput3 = document.createElement('input')
                this.newInput3.className = 'cost'
                this.newInput3.name = 'dynamic_input'
                this.newInput3.placeholder = 'Cost'
                this.element.appendChild(this.newInput3)
            }

            render() {
                return this.element
            }
        }

        //using class above
        function addLink()  {
            let isChecked = document.getElementById("directed").checked
            const n = new NewLinkGroup(isChecked)
            document.getElementById('section').appendChild(n.render())
        }


        function RemoveLink() {
            let allLinks=document.getElementsByClassName('LinkGroup')
            allLinks[allLinks.length-1].remove()
        }

        // get elements by tag returns all <input> elements as an HTMl collection so first turn into array
        // then loop through each element, setting its value to empty string
        // using this shorthand function (input => input.value = '')
        function clearFields() {
            [...document.getElementsByTagName('input')].forEach(input => input.value = '');
        }



        // handle any empty fields, incorrect types, repeated links, trailing spaces
        function validateInput() {

            let allLinkGroup=document.getElementsByClassName('LinkGroup')
            let nodePairs= []

            for (let l of allLinkGroup) {
                //check for empty or repeated links
                let nodePair = l.getElementsByClassName('node')
                let node1 = nodePair[0].value.trim()
                let node2 = nodePair[1].value.trim()

                if (node1 === '' || node2 === '') {
                    alert('Fill out all node fields before submitting')
                    return false;
                }

                let pair = [node1,node2].join(',')
                if (nodePairs.includes(pair)) {
                    alert('Repeated node pair')
                    return false
                }
                nodePairs.push(pair)

                // if undirected, then we also don't want swapped nodes
                if (!document.getElementById("directed").checked) {
                    nodePairs.push([node2,node1].join(','))
                }


                //check if cost is empty or not a number
                //querySelector returns first (and here only) element
                let cost = l.querySelector('.cost').value.trim();
                if (cost === '') {
                    alert('Cost field is empty');
                    return false;
                }
                if (isNaN(cost)) {
                    alert('Link cost must be a number');
                    return false;
                }
            }

            return true
        }

    </script>

</body>

</html>